<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WARICAN</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">WARICAN</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>新規参加者登録</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">名前</p>
        <form action="/create" method="post">
          <input type="text" name="itemName">
          <input type="submit" value="登録">
        </form>
      </div>
      <a href="/index" class="cancel-button"></span>もどる</a>
    </div>
  </body>
</html>