<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WARICAN</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">WARICAN</a>
    </header>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">割り勘アプリ</h2>
        <h1 class="title">WARICAN</h1>
        <p class="description">
          WARICANは、複数人での割り勘額を計算する便利なサービスです。
          <br>
          LET'S WARICAN！
        </p>
        <a href="/index" class="index-button">START</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>